* {
/*   border: 1px solid #000; */
  font-family: 'Lato', sans-serif, '微軟正黑體';
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 3px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
}

.perspective{
  perspective: 500px
}

.card_front_warp {
    animation: card_float 3s infinite alternate;
}

.card_front {
  background: linear-gradient(white, #ccc);
  position: absolute;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 2s, opacity 0s 0.6s;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.card_back_warp {
    animation: card_float 3s infinite alternate;
}

.card_back {
  background: linear-gradient(white, #ccc);
  position: relative;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: rotateY(180deg);
  transition: transform 2s, opacity 0s 0.6s;
  opacity: 0;
}

.containter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 25px 20px 25px;
}

.photo {
  background: #fff url(https://lh3.googleusercontent.com/1x0ZsRr7z1kcZXJjDyRMPcoLuEs7rrHthOeszcdd2P4iUfAx17fNv_9FYSNgxhD8lfksRdVBHUG4Qmbip6DDwyHz6xpfz_hdvpdB6ltlvhpCGpzP-rNIKe8yC4Km9iky_J-XMaY6xwOqqtA17xEm7tUld54rt-mHGnecf7zuQ4OBwQZVMocyfAeLK7ADu4Plp_YSDBNFPl1f8hwiRINXs4I5jCUfWpFANGWvfwneGB7lH6dFSEfhGKCKN7vnuWiEAHLkRQWVPl9tO6CLjeaUm-SiKvhNbC6lqyVH05MglUCdW8Mr87j4dJUIE-Nn0Aq8tysSvkrl92_V58lLciX86xnjBy6N3FUyAiFjU2ABJtxb7JIO80omPFyiiiB11jprsMSTRKPxg8mBM7imO7kHmZ-L5p1PVgZJOg0KKU9Q7ogyUx9Gv-6zxroe7eNysn-wjTUzMTbuaPTpBCrA4W51KlXm_oXUIQn6K4RWDj3vJjv6mXAZfI14siBzsNPWpCr8R51fXJrRhMjFUfdZeDCKHyWgLyOkuliXw-JHgAElJOTO0LQ-XXcN2SQ9oU3d9Enz1pfefOSg5SFAXHiC4CPt29imFxbG__oy_IOeKHb_tMBcNX3oHTYG=w690-h920-no) center center no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 2s 1s;
}

.card:hover .photo {
  width: 120px;
  height: 120px;
}

.description {
  width: 250px;
}

.name {
/*   text-align: center; */
  color: black;
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: 2s 1s;
}

span {
  font-size: 16px;
}

.card:hover .name {
  font-size: 24px;
}

.position {
  margin: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.fanpage {
  font-weight: bold;
  transition: 0.5s;
}

.position:hover .fanpage {
  color: black;
  font-size: 16px;
}

.block {
  text-align: right;
  padding-right: 10px;
}

hr {
  width: 10%;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  transition: 1.5s 1s;
}

.card:hover hr {
  width: 80%;
}

.minor {
  margin: 0;
  font-size: 12px;
  line-height: 25px;
}

.icon {
  margin: 10px 0px 0 300px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  transition: 0.5s;
}

.decoration {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  top: 200px;
  left: -70px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.card:hover .card_front {
  transform: rotateY(180deg);
  opacity: 0;
}

.card:hover .card_back {
  transform: rotateY(360deg);
  opacity: 100;
}

.fa-facebook-official:hover {
  color: #3B5998;
  font-size: 20px;
}

.fa-instagram:hover {
  color: #C43483;
  font-size: 20px;
}

.fa-youtube-play:hover {
  color: #E62117;
  font-size: 20px;
}

@keyframes card_float {
  0% {
    transform: rotateY(-6deg)
                       rotateX(-4deg)
  }
  100% {
    transform: rotateY(6deg)
                       rotateX(4deg)
  }
}